<mat-toolbar color="primary" class="navbar">
  <!-- Navbar Brand with Text -->
  <!--<a [routerLink]="['/business']" class="navbar-brand">
    <span class="mat-toolbar-title">BeDesi</span>
  </a>-->

  <!-- Navbar Brand with Logo -->
  <a [routerLink]="['/business']" class="navbar-brand">
    <img src="../../../assets/BeDesi_Logo.png" alt="BeDesi Logo" class="navbar-logo" />
  </a>



  <!-- Spacer to push items to the right -->
  <span class="spacer"></span>

  <!-- Navbar Links -->
  <div class="navbar-links">

    <!-- Search -->
    <ng-container>
      <a mat-button [routerLink]="['/business']" class="navbar-link">Search</a>
    </ng-container>

    <!-- Menu for Not Logged-In Users -->
    <ng-container *ngIf="!isLoggedIn; else userMenu">
      <button mat-button [matMenuTriggerFor]="guestMenu" class="navbar-link">
        <mat-icon class="menu-button">menu</mat-icon>
      </button>
      <mat-menu #guestMenu="matMenu">
        <button mat-menu-item [routerLink]="['/login']">Sign In</button>
        <button mat-menu-item [routerLink]="['/manage-business']">Add a Business</button>
      </mat-menu>
    </ng-container>

    <!-- Dropdown Menu for Logged-In User -->
    <ng-template #userMenu>
      <button mat-button [matMenuTriggerFor]="menu" class="user-menu-btn navbar-link">
        {{ username }}
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/update-profile']">Profile Update</button>
        <button mat-menu-item *ngIf="isBusinessOwner" [routerLink]="['/manage-business']">
          Manage Your Business
        </button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </ng-template>
  </div>
</mat-toolbar>
