<mat-toolbar color="primary" class="navbar">
  <!-- Navbar Brand with Text -->
  <a [routerLink]="['/business']" class="navbar-brand">
    <span class="mat-toolbar-title">BeDesi</span>
  </a>



  <!-- Spacer to push items to the right -->
  <span class="spacer"></span>

  <!-- Navbar Links -->
  <div class="navbar-links">

    <!-- Search -->
    <ng-container>
      <a mat-button [routerLink]="['/business']" class="navbar-link">Search</a>
    </ng-container>

    <!-- Sign Up Link (Visible when not logged in) -->
    <ng-container *ngIf="!isLoggedIn; else userMenu">
      <a mat-button [routerLink]="['/login']" class="navbar-link">Sign In</a>
    </ng-container>

    <!-- Dropdown Menu for Logged-In User -->
    <ng-template #userMenu>
      <button mat-button [matMenuTriggerFor]="menu" class="user-menu-btn navbar-link">
        {{ username }}
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/update-profile']">Profile Update</button>
        <button mat-menu-item *ngIf="isBusinessOwner" [routerLink]="['/manage-business']">
          Manage Your Business
        </button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </ng-template>
  </div>
</mat-toolbar>
