<form (ngSubmit)="onSubmit()" class="register-form" #registerForm="ngForm">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- Name Input -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput
               type="text"
               [(ngModel)]="name"
               name="name"
               placeholder="Enter your name"
               required />
      </mat-form-field>

      <!-- Email Input -->
      <mat-form-field appearance="outline" class="full-width"
                      [class.invalid]="emailControl?.invalid && emailControl?.touched">
        <mat-label>Email</mat-label>
        <input matInput
               type="email"
               [(ngModel)]="email"
               name="email"
               #emailControl="ngModel"
               placeholder="Enter your email"
               required
               email />
        <mat-error *ngIf="emailControl?.invalid && emailControl?.touched">
          <span *ngIf="emailControl?.errors?.['required']">Email is required.</span>
          <span *ngIf="emailControl?.errors?.['email']">Enter a valid email address.</span>
        </mat-error>
      </mat-form-field>

      <!-- Password Input -->
      <!--<mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput
               type="password"
               [(ngModel)]="password"
               name="password"
               placeholder="Enter your password"
               required />
      </mat-form-field>-->

      <!-- Confirm Password Input -->
      <!--<mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirm Password</mat-label>
        <input matInput
               type="password"
               [(ngModel)]="confirmPassword"
               name="confirmPassword"
               placeholder="Confirm your password"
               required />
      </mat-form-field>-->

      <!-- Business Owner Checkbox -->
      <mat-checkbox [(ngModel)]="isBusinessOwner" name="isBusinessOwner">
        Are you a Business Owner
      </mat-checkbox>

    </mat-card-content>
    <mat-card-actions>
      <!-- Register Button -->
      <button mat-raised-button color="accent" type="submit" class="full-width"
              [disabled]="registerForm.invalid">
        Register
      </button>
    </mat-card-actions>

    <!-- Sign-Up Link -->
    <div class="account-info">
      <span>Already have an account?</span>
      <a [routerLink]="['/login']">Sign In</a>
    </div>
  </mat-card>
</form>
