<!--<div [routerLink]="['/business', localbusiness.id]" class="well hoverwell thumbnail">-->
<div class="well hoverwell thumbnail">
  <h2>{{localbusiness.name}}</h2>
  <div class="row">
    <div class="col-md-2">
      <img [src]="localbusiness.imageUrl" [alt]="localbusiness.name" class="business-image">
    </div>
    <div class="col-md-5">
      <div>{{localbusiness.description}}</div>
      <div>{{localbusiness.contactNumber}}</div>
      <div >
        <span *ngIf="localbusiness.website" >
          <button class="btn btn-social" (click)="openLink(localbusiness.website)">Website</button>
        </span>
        <span  *ngIf="localbusiness.instaHandle" >
          <button class="btn btn-social" (click)="openLink(localbusiness.instaHandle)">Insta</button>
        </span>
        <span  *ngIf="localbusiness.facebook" >
          <button class="btn btn-social" (click)="openLink(localbusiness.facebook)">Facebook</button>
        </span>
      </div>
</div>
  </div>
</div>
<!-- 
Logo Image
Name
Details
contact Number
website
insta
FB
Postcode
review -->
