<mat-card class="business-card">
  <div class="card-header">
    <img [src]="localbusiness.imageUrl" alt="Logo" class="logo" />
    <h2>{{ localbusiness.name }}</h2>
  </div>
  <p>{{ localbusiness.description }}</p>

  <div class="card-actions" *ngIf="showContactCard" >

    <!-- Contact Number -->
    <div *ngIf="localbusiness.contactNumber">
      <a mat-button href="#" (click)="showContactNumber = !showContactNumber; $event.preventDefault()">
        <fa-icon [icon]="faPhone" class="icon phone-icon"></fa-icon>
      </a>
      <span *ngIf="showContactNumber">
        <a [href]="'tel:' + localbusiness.contactNumber">{{ localbusiness.contactNumber }}</a>
      </span>
    </div>

    <!-- Email -->
    <div *ngIf="localbusiness.email">
      <a mat-button href="#" (click)="showEmail = !showEmail; $event.preventDefault()">
        <fa-icon [icon]="faEnvelope" class="icon email-icon"></fa-icon>
      </a>
      <span *ngIf="showEmail">
        <a [href]="'mailto:' + localbusiness.email">{{ localbusiness.email }}</a>
      </span>
    </div>

  </div>
  <div class="card-actions">
    <!-- Website -->
    <a mat-button *ngIf="localbusiness.website" [href]="localbusiness.website" target="_blank" rel="noopener noreferrer">
      <fa-icon [icon]="faWebsite" class="website-icon"></fa-icon>
    </a>

    <!-- Instagram -->
    <a mat-button *ngIf="localbusiness.instaHandle" [href]="localbusiness.instaHandle" target="_blank" rel="noopener noreferrer">
      <fa-icon [icon]="faInstagram" class="instagram-icon"></fa-icon>
    </a>

    <!-- Facebook -->
    <a mat-button *ngIf="localbusiness.facebook" [href]="localbusiness.facebook" target="_blank" rel="noopener noreferrer">
      <fa-icon [icon]="faFacebook" class="facebook-icon"></fa-icon>
    </a>
  </div>

</mat-card>
