<!-- <form id="searchForm"  class="navbar-form navbar-center"  > -->
  <div id="searchForm"  class="navbar-form navbar-center">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search Services" #searchFilter>
    </div>
    <button class="btn btn-default" (click)="filterBusiness(searchFilter.value)">
      Search
    </button>
  </div>
<div>
    <hr/>
    <business-thumbnail *ngFor = "let localbusiness of businessList"  
    [localbusiness] = "localbusiness"></business-thumbnail>
</div>